<!DOCTYPE html>
<html>

<head>
    <title>multer-gridfs-storage</title>
</head>

<body>



    <% item.forEach(function(data){ %>
        <div>

            <p>
                ItemName:
                <%=data.itemsName%>
            </p>

            <p>
                Category:
                <%=data.category%>
            </p>
            <p>
                Available Number:
                <%=data.numberAvail%>
            </p>
            <p>
                Price:
                <%=data.price%>
            </p>
            <p>
                ShopName
                <%=data.shopName%>
            </p>
            <p>
                shopLocation:
                <%=data.shopLocation%>
            </p>

            <% image.forEach(function(data){ %>
                <div>

                    <img src="/image/<%= data.filename%>" alt="node">



                </div>
                <% }); %>




        </div>
        <% }); %>


</body>

</html>